<ion-view title="{{ 'ABOUT_APP' | translate }}">
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button  class="button button-icon icon ion-heart headerBtnHidden"></button>
  </ion-nav-buttons>
    <ion-content class="has-header aboutAppContent" scroll="false">

        <div class="logoWrapper">
            <img class="aboutAppLogo" src="images/about_app_bg.png"/>
            <div class="aboutAppHeader">{{ 'ABOUT_APP_HEADER' | translate }} </div>
            <div class="createdAppHeader">
                {{ 'CREATED_APP_HEADER' | translate }}
                <br>
                <span class="creatorName"  ng-click="openCreatorPage();">{{ 'PHONETOASTER_COM' | translate }}</span>
            </div>
        </div>
    </ion-content>
</ion-view>
