<ion-view  title="{{ 'CREATE_RELAX_SYMPHONY' | translate }}">
  <ion-nav-buttons side="left" >
    <button ng-disabled="downloadInProgress" menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      <button ng-click="playAllSelectedSounds()" ng-disabled="downloadInProgress" ng-if="someSoundsArePlaying == false || someSoundsArePlaying == null" class="button button-icon icon ion-play" title="Play All tracks"></button>
      <button ng-click="stopAllSelectedSounds()" ng-disabled="downloadInProgress" ng-if="someSoundsArePlaying == true" class="button button-icon icon ion-stop"></button>
  <!--    <button ng-click="pauseAllSelectedSounds()"  class="button button-icon icon ion-ios7-pause"></button> -->
  </ion-nav-buttons>
    <ion-nav-buttons side="right">

        <button ng-disabled="downloadInProgress" ng-click="openPopover($event,'popover_new_playlist.html')" class="button button-icon icon ion-heart"></button>
        <button ng-disabled="downloadInProgress" id="availableSoundsBtn" ng-click="readSoundsFile();openPopover($event,'popover_available_sounds.html')"  class="button button-icon icon ion-plus-circled"></button>
    </ion-nav-buttons>
    <div class="bar bar-subheader" ng-if="playlistName.length > 0 && selectedSounds.length > 0">
        <h2 class="title">{{ 'PLAYLIST' | translate }} : {{playlistName}}</h2>
        <button class="button button-clear" ng-click="clearPlaylistFromPlaying()">
          {{ 'REMOVE' | translate }}
        </button>
    </div>

    <div class="bar bar-subheader" ng-if="selectedSounds.length > 0  ">
        <h2 class="title customSubtitle">Track List</h2>
        <button class="button button-clear" ng-click="clearPlaylistFromPlaying()">
          {{ 'REMOVE_ALL' | translate }}
        </button>
    </div>

  <ion-content class="has-header has-subheader" ng-init="initAndSetWhatIsNeed();">
      <div ng-if="debugMode == 1" >
          selectedSounds :{{selectedSounds}}<br>
          isPlayingPaused :{{isPlayingPaused}}<br>
          isCounterDisplayed :{{isCounterDisplayed}}<br>
          viewModel :{{viewModel}} <br>
          downloadInProgress : {{downloadInProgress}} <br>
          areFilesDownloaded : {{areFilesDownloaded}} <br>
          deviceIsOnline : {{deviceIsOnline}} <br>
          welcomePopUpDisplayed : {{welcomePopUpDisplayed}} <br>
          selectedSounds : {{selectedSounds}} <br>
      </div>

    <!--//DOWNLOAD PROGRESS BAR -->
    <!--ICON AND TEXT -->
    <div class="wrapperBigIcon" ng-if="selectedSounds.length == 0 && areFilesDownloaded == true">
        <h2>{{ 'CLICK_TO_ADD_TRACK' | translate }}</h2>
        <i ng-click="triggerPopover()" class="icon ion-plus-circled addCustomIcon"></i>
    </div>
    <!--PLAYLIST -->
    <div class="list">
          <a class="item item-thumbnail-left"
             on-swipe-left="removeSoundFromSelection($index);"
             ng-repeat="sound in selectedSounds">
              <div class="menuItemcircle">
                  <div class="menuItemcircleIconBtn">
                    <!--  <button ng-click="playSelectedItem($index)" ng-if="isPlayingPaused == true"  class="button button-icon icon ion-ios7-pause customIconSoundPause"></button> -->
                          <button ng-click="stopSelectedItem($index)" ng-if="sound.state == 1 && isPlayingPaused == false" class="button button-icon icon ion-stop customIconSoundStop"></button>
                          <button ng-click="playSelectedItem($index)" ng-if="sound.state == 0 && isPlayingPaused == false" class="button button-icon icon ion-play customIconSound"></button>
                        </div>
                    </div>
                    <h2 class="customHeadingForTrackName">{{ ::sound.name}}</h2>
                    <h3 class="customHelpText">{{ 'SWIPE_LEFT_TO_REMOVE_ITEM' | translate }}</h3>
                    <!-- VOLUME FOR ITEM-->
              <div class="range range-calm customVolumeControl">
                <i class="icon ion-volume-low"></i>
                <input class="sliderCustomBackground" type="range" ng-model="soundVolume" min="0" max="1" step="0.1" ng-change="setVolumeLevelForItem($index, soundVolume)" name="volume">
                <i class="icon ion-volume-high"></i>
              </div>
          </a>
      </div>


  </ion-content>
    <div class="bar bar-footer bar-positive bar-footer-custom">
        <a ng-disabled="downloadInProgress" class="button button-icon icon ion-social-facebook" ng-click="shareIt()"></a>
        <div id="minutesLeft" class="title blink" ng-if="isCounterDisplayed == true">{{viewModel.minutesLeft}} {{ 'MINUTES_LEFT' | translate }}</div>
        <a ng-disabled="downloadInProgress" class="button button-icon icon ion-ios-timer-outline" ng-click="openPopover($event,'popover_set_timer.html');"></a>
    </div>
</ion-view>
