<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-positive bar-header-custom">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-header-custom bar-positive">
      <h1 class="title">{{ 'MAX_RELAX' | translate }}</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close ng-href="#/app/home">
          {{ 'HOME' | translate }}
        </ion-item>
        <ion-item nav-clear menu-close ng-href="#/app/saved">
          {{ 'SAVED_PLAYLISTS' | translate }}
        </ion-item>
        <!--<ion-item nav-clear menu-close href="#/app/video" ng-if="isiOS == true">
          {{ 'TIMELAPSES_VIDEOS' | translate }}
        </ion-item>-->
        <ion-item nav-clear menu-close ng-href="#/app/settings">
          {{ 'SETTINGS' | translate }}
        </ion-item>
        <ion-item nav-clear menu-close ng-href="#/app/about">
          {{ 'ABOUT_APP' | translate }}
        </ion-item>
        <ion-item nav-clear menu-close  ng-click="openExternalMarket()">
          {{ 'GET_MORE_APPS' | translate }}
        </ion-item>
        <ion-item nav-clear menu-close  ng-if="isItFullVersion == false" ng-click="buyFullVersion()" class="buyFullVersionBtn">
          {{ 'BUY_FULL_VERSION' | translate }}
        </ion-item>
        <ion-item nav-clear menu-close  ng-if="debugMode == 1" ng-click="readSoundsFile()" class="buyFullVersionBtn">
          {{ 'READ_FILE' | translate }}
        </ion-item>
        <ion-item nav-clear menu-close  ng-if="debugMode == 1" ng-click="checkAppSoundsVersion()" class="buyFullVersionBtn">
          {{ 'CHECK_APP_VERSION' | translate }}
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
