<ion-popover-view class="customPopup">


  <ion-header-bar class="bar bar-header barHeaderCustom">
    <h1 class="title centeredHeader">{{ 'AVAILABLE_SOUNDS' | translate }}</h1>
  </ion-header-bar>

  <ion-tabs class="tabs-icon-only tabs-top tabs-positive">

    <ion-tab title="{{ 'SOUNDS' | translate }}">
      <!-- SEARCH INPUT-->
      <div class="{{platformClass}}">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="{{ 'SEARCH' | translate }}" ng-model="searchedStringSingleSounds">
        </label>
      </div>
      <!-- //SEARCH INPUT-->
      <ion-content class="has-header availableSoundsCustomPadding">

        <div ng-click="addSoundToSelection({{$index}},'singles')" class="item item-button-right"
             ng-repeat="sound in availableSounds| filter:searchedStringSingleSounds">
          {{sound.name}}
          <button class="button button-positive" >
            <i class="icon ion-plus-circled"></i>
          </button>
        </div>
        </div>
      </ion-content>
    </ion-tab>

    <ion-tab title="{{ 'PRE-PREPARED_MIX' | translate }}">
      <!-- SEARCH INPUT-->
      <div class="{{platformClass}}">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="{{ 'SEARCH' | translate }}" ng-model="searchedStringCompositions">
        </label>
      </div>
      <!-- //SEARCH INPUT-->
      <ion-content class="has-header availableSoundsCustomPadding">
        <div ng-click="addSoundToSelection({{$index}},'compositions')" class="item item-button-right"
             ng-repeat="sound in availablePrepreparedSounds | filter:searchedStringCompositions | orderBy:'name'">
          {{sound.name}}
          <button class="button button-positive" >
            <i class="icon ion-plus-circled"></i>
          </button>
        </div>
      </ion-content>
    </ion-tab>
  </ion-tabs>

</ion-popover-view>
