    <ion-popover-view class="popoverPlaylist">
        <ion-header-bar>
            <h1 class="title">{{ 'NEW_PLAYLIST' | translate }}</h1>
        </ion-header-bar>
        <ion-content>
                <label class="item item-input">
                    <input type="text" ng-model="playlistName" ng-change="setPlaylistName(playlistName)" placeholder="{{ 'NAME_OF_PLAYLIST' | translate }}">
                </label>
                <button class="button button-full button-positive" ng-click="savePlaylist()">
                    {{ 'SAVE_PLAYLIST' | translate }}
                </button>
        </ion-content>
    </ion-popover-view>
