    <ion-popover-view class="popoverTimer">
        <ion-header-bar>
            <h1 class="title">{{ 'SET_TIMER_FOR' | translate }} : {{timer}} <span ng-if="timer >= 0"> {{ 'MINUTES' | translate }}</span></h1>
        </ion-header-bar>
        <ion-content>
            <div class="list">
                <div class="item range range-positive">
                    <i class="icon ion-minus-round"></i>
                    <input type="range" ng-model="timer" ng-change="setTimer(timer)" name="timer" min="1" max="120" value="30" >
                    <i class="icon ion-plus-round"></i>
                </div>
            </div>
            <button ng-if="timer == null" class="button button-full button-positive" disabled>
              {{ 'SET_TIME_RANGE_FIRST' | translate }}
            </button>
            <button ng-if="timer >= 0" class="button button-full button-positive"  ng-click="saveTimer(timer)">
              {{ 'SET_TIMER_FOR' | translate }} {{timer}} {{ 'MINUTES' | translate }}
            </button>
            <button ng-if="timer == null && isCounterDisplayed == null" class="button button-full button-positive"  disabled>
              {{ 'CLEAR_TIMER' | translate }}
            </button>
            <button ng-if="timer >= 0 || isCounterDisplayed == true" class="button button-full button-positive"  ng-click="cancelTimer();">
              {{ 'CLEAR_TIMER' | translate }}
            </button>

        </ion-content>
    </ion-popover-view>
