<ion-view title="{{ 'SAVED_PLAYLISTS' | translate }}">
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button  class="button button-icon icon ion-heart headerBtnHidden"></button>
  </ion-nav-buttons>
    <div class="bar bar-subheader" ng-if="playlists.length > 0" >
      <h2 class="title customSubtitle">{{ 'TAP_ON_ITEM_TO_PLAY' | translate }}</h2>
      <button class="button button-clear" ng-click="RemoveAllPlaylists()">
        {{ 'REMOVE_ALL' | translate }}
      </button>
    </div>

  <ion-content class="has-header has-subheader" ng-init="getPlaylists()">
        <!-- {{playlists}} -->

      <div class="wrapperBigIcon" ng-if="playlists.length == 0 || playlists == null">
        <h2>{{ 'NO_PLAYLIST' | translate }}</h2>
        <i  class="icon ion-alert addCustomIcon"></i>
      </div>
      <div class="list">
        <a class="item item-thumbnail-left"
           on-swipe-left="removePlaylist($index);"
           ng-repeat="playlist in playlists">
          <div class="menuItemcirclePlaylist">
            <div class="menuItemcircleIconBtn">
              <button ng-click="playSelectedItem($index)"  class="button button-icon icon ion-play customIconSound"></button>
            </div>
          </div>
          <h2 class="customHeadingForTrackName">{{playlist.name}} </h2>
          <h2 class="customHeadingForTrackCount">{{ 'CONTAINING' | translate }} <span class="playListTrackCount">{{playlist.tracks.length}} {{ 'TRACKS' | translate }} </span></h2>
          <h3 class="customHelpText">{{ 'SWIPE_LEFT_TO_REMOVE_ITEM' | translate }}</h3>
        </a>
      </div>
    </ion-content>

</ion-view>
