<ion-view title="{{ 'SETTINGS' | translate }}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button  class="button button-icon icon ion-heart headerBtnHidden"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" scroll=“false”>
    <div class="list">
      <div class="item item-divider">
        {{ 'RESTORING_DEFAULT_VALUES' | translate }}
      </div>
      <a class="item item-icon-left" ng-click="triggerResetLocalStorageFromSettings()">
        <i class="icon ion-trash-a"></i>
        {{ 'RESET_ALL_SOUNDS_AND_DOWNLOAD_AGAIN' | translate }}
      </a>
    </div>

  </ion-content>
</ion-view>
