<ion-view  title="{{ 'UPDATE_SOUNDS' | translate }}">
    <ion-nav-buttons side="left" >
        <button ng-disabled="downloadInProgress" menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">

        <button ng-if="debugMode == 1" id="resetLocalstorageBtn" ng-click="resetLocalStorage()"  class="button button-icon icon ion-close-round"></button>
    </ion-nav-buttons>
  <ion-content class="has-header  aboutAppContent" scroll="false" scrollbar-y="false">
      <div class="logoWrapper">
          <div id="welcomeHeader">{{ 'UPDATE_IS_AVAILABLE' | translate }} </div>
          <div id="welcomeText">{{ 'NEW_SOUNDS_ARE_AVAILABLE' | translate }} </div>
          <img class="aboutAppLogo" src="images/about_app_bg.png"/>
          <button ng-if="downloadInProgress != true"
                  ng-click="downloadData()"
                  class="button button-full button-outline button-positive welcomeButton">
              {{ 'DOWNLOAD_UPDATE' | translate }}
          </button>

          <button ng-if="downloadInProgress == true && (downloadProgress >= 0 && downloadProgress < 100)"
                  class="button button-full button-outline button-positive welcomeButton">
              {{ 'DOWNLOADING_UPDATE' | translate }} {{ downloadProgress}} {{ '%' | translate }}
              <ion-spinner class="spinner-positive welcomePageDownloadProgressSpinner" icon="spiral"></ion-spinner>
          </button>

      </div>
  </ion-content>

</ion-view>
