<ion-view title="{{ 'TIMELAPSES_VIDEOS' | translate }}"
          ng-controller="VideoCtrl as controller">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button ng-click="stopPlaying()"
            class="button button-icon icon ion-stop"></button>

  </ion-nav-buttons>

  <!-- PLAYER MUST BE ABOVE THE CONTENT TAG -->
  <div class="videogular-container" scroll=“false”>
    <videogular
      vg-player-ready="controller.onPlayerReady($API)"
      vg-loop="controller.config.loop"
      vg-responsive="true"
      vg-theme="controller.config.theme.url">
      <vg-media vg-src="controller.config.sources"
                vg-native-controls="true">
      </vg-media>
    </videogular>
    <!-- //PLAYER MUST BE ABOVE THE CONTENT TAG -->

  </div>

  <ion-content class="has-header" scroll=“false”>

    <div class="list" id="videoListWrappper">
      <a class="item item-thumbnail-left"
         ng-click="controller.setVideo($index)"
         ng-repeat="timelapseVideo in availableTimelapseVideos">
        <div class="menuItemcircle">
          <div class="menuItemcircleIconBtn">
            <button ng-click="controller.setVideo($index)"  class="button button-icon icon ion-play customIconSound"></button>
          </div>
        </div>
        <h2 class="customHeadingForVideoName">{{timelapseVideo.name}} </h2>
        <h3 class="customHelpText">{{ 'TAP_TO_PLAY_VIDEO' | translate }}</h3>
      </a>
    </div>
    </div>
  </ion-content>
</ion-view>
