<ion-view title="{{ 'WELCOME' | translate }}">
    <ion-nav-buttons side="right">

        <button ng-if="debugMode == 1" id="resetLocalstorageBtn" ng-click="resetLocalStorage()"
                class="button button-icon icon ion-close-round"></button>
    </ion-nav-buttons>
    <ion-content class="has-header  aboutAppContent" scroll="false" scrollbar-y="false">
        <div class="logoWrapper">
            <div id="welcomeHeader">{{ 'WELCOME' | translate }}</div>
            <div id="welcomeText">{{ 'NO_FILES' | translate }}</div>
            <img class="aboutAppLogo" src="images/about_app_bg.png"/>
            <!--
            <button ng-if="downloadInProgress != true"
                    ng-click="downloadData()"
                    class="button button-full button-outline button-positive welcomeButton">
                {{ 'DOWNLOAD_SOUNDS' | translate }}
            </button>

            <button ng-if="downloadInProgress == true && (downloadProgress >= 0 && downloadProgress <= 100)"
                    class="button button-full button-outline button-positive welcomeButton">
                {{ 'DOWNLOADING' | translate }} {{ downloadProgress}} {{ '%' | translate }}
                <ion-spinner class="spinner-positive welcomePageDownloadProgressSpinner" icon="spiral"></ion-spinner>
            </button>
            -->
            <button class="button button-full button-outline button-positive welcomeButton"
                    ng-click="downloadData()">
                <span >{{downloadProgressButtonText}}</span>
                <ion-spinner class="spinner-positive welcomePageDownloadProgressSpinner"
                             ng-if="downloadProgress >= 0 && downloadProgress <= 100" icon="spiral"></ion-spinner>
            </button>

        </div>
    </ion-content>

</ion-view>
