/* Your application styles go here */

.customDeleteBtnInList {
  float: right;
  width: 23%;
  position: absolute;
  top: 41%;
  right: -6%;
}

.customPlayBtnInList {
  float: right;
  width: 23%;
  position: absolute;
  top: 14%;
  right: -6%;
}

.popup-body {
  text-align: center !important;
}

.popoverPlaylist {
  height: 170px;
}

.bar-header-custom {
  background: linear-gradient(#0FA5ED, #5A79EA) !important;
}

.bar-footer-custom {
  background: linear-gradient(#0FA5ED, #5A79EA) !important;
}

.customSubtitle {
  color: #918B8B !important;
  font-size: 20px !important;
}

.menuItemcircle {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: #0FA5ED;
  position: absolute;
  left: 2%;
  top: 9%;
  text-align: center;
  border: solid;
  border-width: 10px;
  border-color: #B6DBF3 !important;
}

.menuItemcirclePlaylist {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: #833C9C;
  position: absolute;
  left: 2%;
  top: 9%;
  text-align: center;
  border: solid;
  border-width: 10px;
  border-color: #B6DBF3 !important;
}

.customIconSound.icon:before {
  margin-top: 24%;
  margin-left: 9%;
  font-size: 3em !important;
  color: #fff;
  vertical-align: -webkit-baseline-middle;
}

.customIconSoundStop.icon:before {
  margin-top: 17%;
  margin-left: -1%;
  font-size: 3em !important;
  color: #fff;
  vertical-align: -webkit-baseline-middle;
}

.customIconSoundPause.icon:before {
  margin-top: 17%;
  margin-left: -3%;
  font-size: 3em !important;
  color: #fff;
  vertical-align: -webkit-baseline-middle;
}

.customVolumeControl {
  right: 1%;
  width: 52% !important;
  position: absolute;
  bottom: 2px;
}

.customHeadingForTrackName {
  color: #918B8B !important;
  left: 32% !important;
  top: 21%;
  text-align: left;
  position: absolute;
  font-size: 1.4em !important;
}

.customHeadingForTrackCount {
  color: #918B8B !important;
  left: 32% !important;
  top: 50%;
  text-align: left;
  position: absolute;
  font-size: 1.4em !important;
}

.customHeadingForVideoName {
  color: #918B8B !important;
  left: 32% !important;
  top: 40%;
  text-align: left;
  position: absolute;
  font-size: 1.4em !important;
}

.customHelpText {
  position: absolute !important;
  color: #918B8B !important;
  top: 1px;
  right: 11px;
  opacity: 0.7;
  font-size: 0.7em !important;
}

.sliderCustomBackground {
  background-image: linear-gradient(to right, rgb(255, 0, 0) 0%, rgb(100, 111, 194) 100%) !important;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: 99% 4px;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
}

.wrapperBigIcon {
  text-align: center;
}

.wrapperBigIcon h2 {
  color: #918B8B;
}

.addCustomIcon {
  font-size: 14em;
  color: #219AEC !important;
}

.customPopup {
  height: 80%;
  width: 80%;
}

.popoverTimer {
  height: 250px;
}

.barHeaderCustom {
  border-radius: 10px !important;
  top: 0px !important;
  position: absolute !important;
}

.centeredHeader {
  text-align: center !important;
  margin: 0 auto !important;
}

.aboutAppHeader {
  height: auto;
  width: 100%;
  color: #464845;
  font-size: 1.3em;
  text-align: center;
  font-weight: 300;
  /* vertical-align: baseline; */
  padding-top: 6%;
  padding-bottom: 6%;
  padding-left: 5%;
  padding-right: 5%;
  line-height: 1.5;
  top:46%;
  position: absolute !important;
}

#welcomeText {
  position: absolute;
  text-align: center;
  font-size: 1em;
  bottom: 22%;
  right: 2%;
  left: 2%;
  margin: auto;
  color:#464845;
}

#welcomeHeader {
  position: absolute;
  text-align: center;
  font-size: 3em;
  bottom: 32%;
  right: 0;
  left: 0;
  margin: auto;
  color:#7BB4FF;
  line-height: 100%;
}

.welcomeButton {
  position: absolute !important;
  bottom: 9% !important;
}

.createdAppHeader {
  width: 100%;
  background-color: transparent;
  color: #fff;
  font-size: 1.8em;
  text-align: center;
  font-weight: 300;
  /* vertical-align: baseline; */
  padding-top: 3%;
  line-height: 1.5;
  position: absolute !important;
  z-index: 999;
  top:72%;
  color:#7BB4FF;
}

.logoWrapper {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}

.aboutAppLogo {
  width: 100%;
}

.playListTrackCount {
  color: rgb(15, 165, 237);
}

.creatorName {
  font-size: 135%;
}

#videoListWrappper {
  padding-top: 205px;
}

.buyFullVersionBtn {
  background-color: rgb(36, 152, 236);
  color: #fff;
}

.searchSoundFieldIos {
  margin-top: 115px !important;
}

.searchSoundFieldAndroid {
  margin-top: 95px !important;
}

.availableSoundsCustomPadding {
  margin-top: 50px !important;
}

.title {
  text-align: center !important;
}

.title .title-left .header-item {
  text-align: center !important;
  left: 0px !important;
}

.headerBtnHidden {
  visibility: hidden !important;
}

.downloadProgressBar round-progress {
  height: 400px !important;
}

.progressTextActual {
  margin-top: -35%;
}

.downloadContentWarning {
  margin-top: 32%;
}

.welcomePageDownloadProgressSpinner {
  top: 14% !important;
  position: absolute;
  margin-left: 5%;
}